services:
  qbittorrent:
    image: lscr.io/linuxserver/qbittorrent:latest
    container_name: qbittorrent
    network_mode: host
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
      - WEBUI_PORT=8080
      - TORRENTING_PORT=6881
    volumes:
      - /srv/homelab/config/qbittorrent:/config
      - /srv/homelab/media:/media
    restart: unless-stopped

  prowlarr:
    image: lscr.io/linuxserver/prowlarr:latest
    container_name: prowlarr
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    volumes:
      - /srv/homelab/config/prowlarr:/config
    ports:
      - "172.16.16.21:9696:9696"
    restart: unless-stopped

  radarr:
    image: lscr.io/linuxserver/radarr:latest
    container_name: radarr
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    volumes:
      - /srv/homelab/config/radarr:/config
      - /srv/homelab/media:/media
    ports:
      - "172.16.16.21:7878:7878"
    restart: unless-stopped

  sonarr:
    image: lscr.io/linuxserver/sonarr:latest
    container_name: sonarr
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    volumes:
      - /srv/homelab/config/sonarr:/config
      - /srv/homelab/media:/media
    ports:
      - "172.16.16.21:8989:8989"
    restart: unless-stopped

  jellyfin:
    image: lscr.io/linuxserver/jellyfin:latest
    container_name: jellyfin
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    volumes:
      - /srv/homelab/config/jellyfin:/config
      - /srv/homelab/media:/media
    ports:
      - "172.16.16.21:8096:8096"
    devices:
      - /dev/dri:/dev/dri
    restart: unless-stopped

  jellyseerr:
    image: fallenbagel/jellyseerr:latest
    container_name: jellyseerr
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
      - LOG_LEVEL=info
    volumes:
      - /srv/homelab/config/jellyseerr:/app/config
    ports:
      - "172.16.16.21:5055:5055"
    restart: unless-stopped
    depends_on:
      - jellyfin
      - radarr
      - sonarr

  flaresolverr:
    image: ghcr.io/flaresolverr/flaresolverr:latest
    container_name: flaresolverr
    environment:
      - LOG_LEVEL=info
      - TZ=${TZ}
    ports:
      - "172.16.16.21:8191:8191"
    restart: unless-stopped

  n8n:
    image: n8nio/n8n:latest
    container_name: n8n
    restart: unless-stopped
    ports:
      - "172.16.16.21:5678:5678"
    environment:
      - GENERIC_TIMEZONE=${TZ}
      - TZ=${TZ}
      - N8N_SECURE_COOKIE=false
      # - N8N_TUNNEL_SUBDOMAIN=homelab-deneme 
    volumes:
      - /srv/homelab/config/n8n:/home/node/.n8n

  news-listener:
    build: ./news-bot
    container_name: news-listener
    restart: unless-stopped
    depends_on:
      - n8n
    volumes:
      - /srv/homelab/config/news-bot:/config
      - /srv/homelab/news-bot:/app

  nginx-proxy-manager:
    image: jc21/nginx-proxy-manager:latest
    container_name: nginx-proxy-manager
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
      - "172.16.16.21:81:81"
    volumes:
      - /srv/homelab/config/nginx-proxy-manager/data:/data
      - /srv/homelab/config/nginx-proxy-manager/letsencrypt:/etc/letsencrypt
    environment:
      - TZ=${TZ}

  watchtower:
    image: containrrr/watchtower:1.5.3
    container_name: watchtower
    restart: unless-stopped
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - TZ=${TZ}
      - WATCHTOWER_SCHEDULE=0 0 5 * * 0
      - WATCHTOWER_CLEANUP=true
      - WATCHTOWER_INCLUDE_STOPPED=true
